<div   fxLayout="row" fxLayoutAlign="space-between stretch" style="height:100%">
  <div fxFlex="1 1 20%" fxHide.lt-md></div>
  <div fxFlex="1 1 60%" fxFlex.lt-md="1 1 100%" style="background:yellow">
      <div fxLayout="column" fxLayoutAlign="start stretch" style="height:100%" >
        <div fxFlex="1 1 90%">
          <container [message]="data"></container> 
        </div>
        <div fxFlex="1 1 10%">
          <input-bar (onPublishData)="sendDataToGrid($event)"></input-bar> 
        </div>
      </div>
  </div>
  <div fxFlex="1 1 20%" fxHide.lt-md></div>
</div>